.appBar {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  height: 74px;
}

.vertIcon {
  color: #c4c4c4;
}

.horizontalScroll {
  transform: translateX(100%);
  animation: move 80s linear infinite;
}

@keyframes move {
  to { transform: translateX(-100%); }
}