.background {
   background: radial-gradient(
      89.45% 27.82% at 70.13% 0%,
      rgba(20, 62, 253, 0.31) 0%,
      #282f43 0.01%,
      rgba(41, 49, 70, 0) 100%
    );
}

.pepeText {
  background: linear-gradient(to right, #ffffff 0%, #9cecfd 64.06%);
  background-image: linear-gradient(to right, #ffffff 0%, #9cecfd 64.06%);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  letter-spacing: 2px;
}

.pepeLink {
  background: linear-gradient(to right, #ffffff 0%, #9cecfd 64.06%);
  background-image: linear-gradient(to right, #ffffff 0%, #9cecfd 64.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.pepeButton:hover {
  opacity: 0.9;
}

.pepeButton {
  background: #43609a;
  box-shadow: inset 2px 2px 0px #7193d6, inset -3px -3px 0px #213459;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  width: 100%;
  font-family: Minecraft, serif;
  padding: 0.7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-transform: uppercase;
  z-index: 50;
  position: relative;
}

.pepeButton:disabled {
  background: #343c4d;
  box-shadow: inset 2px 2px 0px #1b2740, inset -3px -3px 0px #19243c;
  color: #78859e;
  border: 1px solid #000000;
  cursor: not-allowed;
}

@media (min-width: 700px) {
  .backgroundOverlay {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    opacity: 0.2;
    background: url('/assets/pepebg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }
  .mobileBackgroundOverlay {
    display: none;
  }
}

.mobileBackgroundOverlay {
  position: fixed;
  width: 100%;
  height: 1500px;
  left: 0px;
  bottom: 0px;
  z-index: 0;
  background: radial-gradient(
      89.45% 27.82% at 50.13% 0%,
      rgba(20, 62, 253, 0.31) 0%,
      #282f43 0.01%,
      rgba(41, 49, 70, 0) 100%
    ),
    url('/assets/pepebg2.png');
  background-position: bottom;
  background-size: 100vh;
  background-repeat: no-repeat;
  opacity: 0.5;
}