@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');

@font-face {
  font-family: Ilisarniq;
  src: url('/fonts/Ilisarniq-Light.otf');
  font-weight: 300;
  ascent-override: 90%;
}

@font-face {
  font-family: Ilisarniq;
  src: url('/fonts/Ilisarniq-Regular.otf');
  font-weight: 400;
  ascent-override: 90%;
}

@font-face {
  font-family: Ilisarniq;
  src: url('/fonts/Ilisarniq-Demi.otf');
  font-weight: 500;
  ascent-override: 90%;
}

@font-face {
  font-family: Ilisarniq;
  src: url('/fonts/Ilisarniq-Bold.otf');
  font-weight: 700;
  ascent-override: 90%;
}

@font-face {
  font-family: VT323;
  src: url('/fonts/VT323-Regular.ttf');
  font-weight: 700;
}

@font-face {
  font-family: PressStart2P;
  src: url('/fonts/PressStart2P-Regular.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Minecraft;
  src: url('/fonts/Minecraft.ttf');
  font-weight: 400;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.w-fit {
  width: fit-content;
}

.MuiTooltip-tooltip {
  background: #1e1e1e;
}

.Mui-checked {
  color: #22e1ff !important;
}

.MuiLinearProgress-barColorPrimary {
  background-color: #22e1ff !important;
}

.MuiLinearProgress-colorPrimary {
  background-color: #3e3e3e;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #1e1e1e;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background-color: #1e1e1e;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #2f2d2d;
  border-radius: 5px;
}

.web3modal-modal-lightbox {
  z-index: 9999 !important;
}

.MuiDialog-container.MuiDialog-scrollPaper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    radial-gradient(
        100% 197.75% at 0% 0%,
        rgba(34, 225, 255, 0.27) 0%,
        rgba(9, 10, 12, 0.21) 37.02%,
        rgba(0, 46, 255, 0.03) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  backdrop-filter: blur(14px);
}

.custom-select-no-border fieldset {
  border: none;
}

.custom-select-no-border > div > div {
  padding: 12px;
  padding-right: 29px;
  padding-left: 17px;
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  margin-right: auto;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

#dexscreener-embed {
  position: relative;
  width: 100%;
  padding-bottom: 33.5rem;
}

#dexscreener-embed iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0;
}
