.ETH {
  background: linear-gradient(180deg, #511de3 0%, #7818c4 100%);
}

.DPX {
  background: linear-gradient(359.05deg, #002eff 0.72%, #22e1ff 99.1%);
}

.RDPX {
  background: linear-gradient(359.05deg, #2277ff 0.72%, #0400ff 99.1%);
}

.Box {
  max-width: 350px;
}

.Button {
  background-color: #3e3e3e;
}
