.ETH {
  background: linear-gradient(180deg, #511de3 0%, #7818c4 100%);
}

.DPX {
  background: linear-gradient(359.05deg, #002eff 0.72%, #22e1ff 99.1%);
}

.RDPX {
  background: linear-gradient(359.05deg, #2277ff 0.72%, #0400ff 99.1%);
}

.GOHM {
  background: linear-gradient(359.05deg, #5d5d5d 0.72%, #e6e6e6 99.1%);
}

.BNB {
  background: linear-gradient(359.05deg, #3d3d2f 0.72%, #fffb00 99.1%);
}

.GMX {
  background: linear-gradient(359.05deg, #4f1ef1 0.72%, #04a7f0 99.1%);
}

.AVAX {
  background: linear-gradient(359.05deg, #4f1ef1 0.72%, #04a7f0 99.1%);
}

.Box {
  max-width: 350px;
}

.Button {
  background-color: #3e3e3e;
}
