.pepeLink {
  background: linear-gradient(to right, #ffffff 0%, #9cecfd 64.06%);
  background-image: linear-gradient(to right, #ffffff 0%, #9cecfd 64.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.blueBackground {
  background: #43609a;
}

.diamondBackground {
  background: linear-gradient(180deg, #ffffff 0%, #9cecfd 64.06%);
}

.orangeBackground {
  background: linear-gradient(180deg, #db8140 0%, #7b5a43 100%);
}

.goldBackground {
  background: radial-gradient(
      72.5% 72.5% at 50% 6.67%,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(180deg, #ffd50b 0%, #ffad14 100%);
}
