.CardWidth {
  width: 343px;
}

.SelectSize {
  height: 38px;
  width: 279px;
}

.optionTypeIndicator {
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  border-radius: 5px;
}

.allocationWidth {
  width: 189px;
}

.exerciseModalSize {
  width: 343px;
  height: 433px;
}
