.appBar {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  height: 74px;
}

.vertIcon {
  color: #c4c4c4;
}

.priceFeed {
  flex: 1;
  animation: move 60s linear infinite;

}

@keyframes move {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

