.button {
    background: linear-gradient(318.43deg, #002EFF -7.57%, #22E1FF 100%);
    border-radius: 5px;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    cursor: not-allowed;
  }