@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');

@font-face {
  font-family: Ilisarniq;
  src: url('/fonts/Ilisarniq-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: Ilisarniq;
  src: url('/fonts/Ilisarniq-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: Ilisarniq;
  src: url('/fonts/Ilisarniq-Demi.otf');
  font-weight: 500;
}

@font-face {
  font-family: Ilisarniq;
  src: url('/fonts/Ilisarniq-Bold.otf');
  font-weight: 700;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.MuiTooltip-tooltip {
  background: #1e1e1e;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #2f2d2d;
}

*::-webkit-scrollbar-track {
  background: #2f2d2d;
}

*::-webkit-scrollbar-thumb {
  background-color: #1e1e1e;
}
