@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');

@font-face {
  font-family: Ilisarniq;
  src: url('/fonts/Ilisarniq-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: Ilisarniq;
  src: url('/fonts/Ilisarniq-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: Ilisarniq;
  src: url('/fonts/Ilisarniq-Demi.otf');
  font-weight: 500;
}

@font-face {
  font-family: Ilisarniq;
  src: url('/fonts/Ilisarniq-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: VT323;
  src: url('/fonts/VT323-Regular.ttf');
  font-weight: 700;
}

@font-face {
  font-family: PressStart2P;
  src: url('/fonts/PressStart2P-Regular.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Minecraft;
  src: url('/fonts/Minecraft.ttf');
  font-weight: 400;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.MuiTooltip-tooltip {
  background: #1e1e1e;
}

.Mui-checked {
  color: #22e1ff !important;
}

.MuiLinearProgress-barColorPrimary {
  background-color: #22e1ff !important;
}

.MuiLinearProgress-colorPrimary {
  background-color: #3e3e3e;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #1e1e1e;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background-color: #1e1e1e;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #2f2d2d;
  border-radius: 5px;
}

.web3modal-modal-lightbox {
  z-index: 9999 !important;
}

.MuiDialog-container.MuiDialog-scrollPaper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    radial-gradient(
        100% 197.75% at 0% 0%,
        rgba(34, 225, 255, 0.27) 0%,
        rgba(0, 46, 255, 0.21) 37.02%,
        rgba(0, 46, 255, 0.03) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  backdrop-filter: blur(14px);
}
