.panelSize {
  @media (max-width: 1024px) {
    max-width: 100vw;
  }
  max-width: 360px;
}

.iconContainerHeight {
  height: fit-content;
}

.optionTypeIndicator {
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  border-radius: 5px;
}
