.WETH {
  background: linear-gradient(180deg, #511de3 0%, #7818c4 100%);
}

.WBTC {
  background: linear-gradient(180deg, #f09242 0%, #f85a01 100%);
}

.Box {
  width: 343px;
}

.Border {
  width: 348px;
}

.Button {
  background-color: #3e3e3e;
}
